<div>
  <div class="modal-header" style="border-bottom: none;">
    <button type="button" class="close pointer" aria-label="Close" style="outline: none" (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center ptb-20">
    <div>
      Are you share you want to delete?
    </div>
    <div class="mt-20">
      <button type="button" class="btn btn-danger mr-20 app-btn" (click)="activeModal.close(true)">Confirm</button>
      <button type="button" class="btn btn-primary app-btn" (click)="activeModal.close(false)">Cancel</button>
    </div>
  </div>
</div>

