<div>
  <div class="modal-header" style="border-bottom: none;">
    <button type="button" class="close pointer" aria-label="Close" style="outline: none" (click)="activeModal.close('no')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryItemForm">
        <div class="form-group">
          <label for="categoryName">Category Name</label>
          <div [ngClass]="{'select-err' : (isFormSubmit && categoryItemForm.controls.categoryId.errors?.required) }">
            <select formControlName="categoryId" class="form-control selectpicker" id="categoryName" data-live-search="true" title="Select...">
              <option *ngFor="let category of options.data.menu; let i = index;" [value]="category._id">
                {{category.categoryName | titlecase}}
              </option>
            </select>
          </div>
          <label class="err-label" *ngIf="isFormSubmit && categoryItemForm.controls.categoryId.errors?.required">Select category is required</label>
        </div>
        <div class="form-group">
          <label for="itemName">Item Name</label>
          <input type="text" formControlName="itemName" class="form-control" id="itemName"
          [ngClass]="{'input-err' : (isFormSubmit && categoryItemForm.controls.itemName.errors?.required || errMsg) }" autocomplete="off">
          <label class="err-label" *ngIf="isFormSubmit && categoryItemForm.controls.itemName.errors?.required">Item name is required</label>
          <label class="err-label" *ngIf="errMsg">{{errMsg}}</label>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" formControlName="itemPrice" class="form-control" id="price"
          [ngClass]="{'input-err' : (isFormSubmit && categoryItemForm.controls.itemPrice.errors?.required) }" autocomplete="off">
          <label class="err-label" *ngIf="isFormSubmit && categoryItemForm.controls.itemPrice.errors?.required">Item price is required</label>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" formControlName="itemQuantity" class="form-control" id="quantity"
          [ngClass]="{'input-err' : (isFormSubmit && categoryItemForm.controls.itemQuantity.errors?.required) }" autocomplete="off">
          <label class="err-label" *ngIf="isFormSubmit && categoryItemForm.controls.itemQuantity.errors?.required">Item Quantity is required</label>
        </div>
        <div class="form-group">
          <label for="unit">Unit</label>
          <input type="text" formControlName="itemUnit" class="form-control" id="unit"
          [ngClass]="{'input-err' : (isFormSubmit && categoryItemForm.controls.itemUnit.errors?.required) }" autocomplete="off">
          <label class="err-label" *ngIf="isFormSubmit && categoryItemForm.controls.itemUnit.errors?.required">Item unit is required</label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary app-btn" (click)="submitCall(categoryItemForm.valid, categoryItemForm.value)">
            <i *ngIf="requestPending" class="fa fa-spin fa-spinner" aria-hidden="true"></i> 
            {{ (options.type == 'add') ? 'Save' : 'Update'}}
          </button>
        </div>
      </form>
  </div>
</div>
  
  