<div class="text-right mrb-20">
    <button type="button" class="btn btn-primary category-btn mr-20" (click)="openCategoryDialog()">
      <i class="fa fa-plus pd-r-5"> </i> Add New Category
    </button>
</div>

<div class="container">
  <div class="table-responsive scroll-bar" style="max-height: 400px;">
    <table class="table table-bordered bd-none">
      <thead style="background: #c5bebe;">
        <tr>
          <th scope="col" class="text-center bd-tl" style="width: 50px;">#</th>
          <th scope="col" class="bd-top">Category Name</th>
          <th scope="col" class="text-center bd-top" style="width: 120px;">Total Items</th>
          <th scope="col" class="text-center bd-top" style="width: 100px;min-width: 100px;">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="restaurantMenu.length > 0 ">
        <tr *ngFor="let category of restaurantMenu; let i = index;">
          <td class="text-center">
            {{i+1}}
          </td>
          <td>
            <div *ngIf="i != currentRowIndex">{{category.categoryName | titlecase}}</div>
            <div *ngIf="i == currentRowIndex" [formGroup]="categoryForm">
                <input type="text" formControlName="categoryName" class="form-control" [ngClass]="{'input-err' : isFormSubmit && categoryForm.controls.categoryName.errors?.required}" [attr.disabled]="requestPending.update ? '' : null">
                <label class="err-label" *ngIf="isFormSubmit && categoryForm.controls.categoryName.errors?.required">Category Name is required</label>
            </div>
          </td>
          <td class="text-center">{{category.categoryItems.length}}</td>
          <td class="text-center bd-left v-align">
            <div *ngIf="i != currentRowIndex">
                <button type="button" (click)="!requestPending.delete && editCategory(category, i)" class="fa fa-pencil-square-o icon-btn" [ngClass]="{'cs-not-allowed' : requestPending.delete }" placement="bottom" ngbTooltip="Edit"></button>
                <button type="button" (click)="!requestPending.delete && removeCategory(category, i)" class="fa fa-trash icon-btn" [ngClass]="{'cs-not-allowed' : requestPending.delete }"  placement="bottom" ngbTooltip="Delete"></button>
            </div>
            <div *ngIf="i == currentRowIndex">
                <button type="button" (click)="!requestPending.update && updateCategory(category, i)" class="fa fa-floppy-o icon-btn" [ngClass]="{'cs-not-allowed' : requestPending.update }" placement="bottom" ngbTooltip="Update"></button>
                <button type="button" (click)="!requestPending.update && cancelCategory(i)" class="fa fa-ban icon-btn" [ngClass]="{'cs-not-allowed' : requestPending.update }" placement="bottom" ngbTooltip="Cancel"></button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="requestPending.get || (restaurantMenu.length == 0 )">
          <tr>
            <td colspan="6" class="text-center" style="padding-top: 100px;">
              <i *ngIf="requestPending.get" class="fa fa-spin fa-circle-o-notch fa-4x" aria-hidden="true"></i>
              <div *ngIf="!requestPending.get && restaurantMenu.length == 0">
                <label class="no-content">
                  <i class="fa fa-exclamation-circle mrr-5" aria-hidden="true"></i>
                  No Menu category created yet
                </label>
              </div>
              
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div *ngIf="!requestPending.get && (restaurantMenu.length > 5 )" class="paginate-center">
    <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="120" [(page)]="page" [maxSize]="3" [rotate]="true"></ngb-pagination>
</div>
