<div class="container">
  <!-- Search Bar -->
    <div class="row">
      <div class="col-md-6 col-12">
        <button class="fa fa-search searchBtn"></button>
        <input type="search" class="form-control col-10 SearchTxt" [ngbTypeahead]="search">
      </div>
      <div class="col-md-6 col-12 text-right">
        <button type="button" class="btn btn-primary item-btn app-btn" (click)="openItemDialog('add')">
            <i class="fa fa-plus pd-r-5"> </i> Add New Item
        </button>
      </div>
    </div>

    <!-- Items starts from here -->
    <div *ngFor="let category of restaurantMenu; let categoryIndex = index;">
      <h1>{{category.categoryName | titlecase}}</h1>
      <div  class="row">
        <div *ngFor="let item of category.categoryItems; let itemIndex = index;" class="col-md-4 col-sm-6 col-xs-12 items container1">
            <div class="itemStyle">
                <b>{{item.itemName | titlecase}}</b>
                <span class="badge badge-success float-right items-prise"><h6>Price<br /><br />
                <strong>Rs: {{item.price}} / {{item.unit}}</strong></h6></span>
            </div>
            <div class="overlay">
                <button class="fa fa-pencil-square-o icon-btn btns2" ngbtooltip="Add" placement="bottom" type="button" (click)="openItemDialog('update')"></button>
                <button class="fa fa-trash icon-btn btns1" ngbtooltip="Remove" placement="bottom" type="button" (click)="removeCategoryItem(item, categoryIndex, itemIndex)"></button>
            </div>
        </div>
        <div class="mg-center" *ngIf="category.categoryItems.length == 0">
            <label class="no-content">
                <i class="fa fa-exclamation-circle mrr-5" aria-hidden="true"></i>
                No item in this category created yet
            </label>
        </div>
      </div>
    </div> 
</div>