
<div class="container mt-40">
    <!-- <form class="form">
      <div class="form-group">
        <input class="form-control" type="text">
      </div>
    </form> -->
  <h1>Karahai</h1>
  <!-- <img  class="mx-auto d-block img-fluid" src="../../../assets/items_frame.png"> -->
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 items">
      <div class="itemStyle">
          <b>Chicken Karhai</b>
          <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
          <div class="itemStyle">
              <b>Chicken Karhai</b>
              <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
          </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
            <div class="itemStyle">
                <b>Chicken Karhai</b>
                <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
            </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
              <div class="itemStyle">
                  <b>Chicken Karhai</b>
                  <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
              </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
                <div class="itemStyle">
                    <b>Chicken Karhai</b>
                    <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
                </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
    <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
  </div>
  


  <h1>Karahai</h1>
  <!-- <img  class="mx-auto d-block img-fluid" src="../../../assets/items_frame.png"> -->
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 items">
      <div class="itemStyle">
          <b>Chicken Karhai</b>
          <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
          <div class="itemStyle">
              <b>Chicken Karhai</b>
              <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
          </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
            <div class="itemStyle">
                <b>Chicken Karhai</b>
                <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
            </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
              <div class="itemStyle">
                  <b>Chicken Karhai</b>
                  <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
              </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
                <div class="itemStyle">
                    <b>Chicken Karhai</b>
                    <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
                </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
    <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
</div>

    <h1>Karahai</h1>
  <!-- <img  class="mx-auto d-block img-fluid" src="../../../assets/items_frame.png"> -->
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 items">
      <div class="itemStyle">
          <b>Chicken Karhai</b>
          <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
          <div class="itemStyle">
              <b>Chicken Karhai</b>
              <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
          </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
            <div class="itemStyle">
                <b>Chicken Karhai</b>
                <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
            </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
              <div class="itemStyle">
                  <b>Chicken Karhai</b>
                  <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
              </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
                <div class="itemStyle">
                    <b>Chicken Karhai</b>
                    <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
                </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
    <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 items">
        <div class="itemStyle">
            <b>Chicken Karhai</b>
            <span class="badge badge-success float-right items-prise"><h6>Price<br /><br /><strong>Rs: 230</strong></h6></span>
        </div>
    </div>
    </div>
</div>
