
<button class="btn btn-lg btn-outline-primary" (click)="openDialog('new')">New Branch</button>

<div class="container">
  <div class="table-responsive" style="max-height: 500px;">
    <table class="table">
      <thead style="background: #c5bebe;">
        <tr>
          <th scope="col" class="text-center fit-col-content">Branch No</th>
          <th scope="col" class="text-center">Branch Name</th>
          <th scope="col" class="text-center">Branch City</th>
          <th scope="col" class="text-center">Branch Address</th>
          <th scope="col" class="text-center">Opening Date</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="branchList.length > 0 ">
        <tr *ngFor="let branch of branchList; let i = index;">
          <td class="text-center v-align">Branch - {{i+1}}</td>
          <td  class="text-center v-align">
              {{branch.branchName | titlecase}}
          </td>
          <td class="text-center v-align">{{branch.city | titlecase}}</td>
          <td class="text-center v-align">{{branch.branchAddress}}</td>
          <td class="text-center v-align">{{branch.openingDate | date:'dd-MM-yyyy'}}</td>
          <td class="text-center v-align">
            <button type="button" (click)="openDialog('update', branch)" class="fa fa-pencil-square-o icon-btn" placement="bottom" ngbTooltip="Edit"></button>
            <button type="button" (click)="removeConfirmDialog(branch)" class="fa fa-times icon-btn" placement="bottom" ngbTooltip="Remove"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="requestPending || (branchList.length == 0 )">
        <tr>
          <td colspan="6" class="text-center" style="padding-top: 100px;">
            <i *ngIf="requestPending" class="fa fa-spin fa-circle-o-notch fa-4x" aria-hidden="true"></i>
            <label *ngIf="!requestPending && branchList.length == 0" class="no-content">No branch created yet</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!requestPending && (branchList.length > 5 )" class="paginate-center">
  <ngb-pagination (pageChange)="pageChange($event)"  [collectionSize]="branchList.length" [pageSize]="pageSize" [rotate]="true"></ngb-pagination>
</div>

