<div class="container">
  <div class="text-right mrb-10">
    <button class="btn btn-primary app-btn" (click)="openDialog('new')">
      <i class="fa fa-plus pd-r-5"></i>
      New Employee
    </button>
  </div>
  <div class="table-responsive" style="max-height: 500px;">
    <table class="table">
      <thead style="background: #c5bebe;">
        <tr>
          <th scope="col" class="text-center fit-col-content">S.No</th>
          <th scope="col" class="text-center">Employee Pic</th>
          <th scope="col" class="text-center">Employee Name</th>
          <th scope="col" class="text-center">Employee Category</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="employeeList.length > 0 ">
        <tr *ngFor="let emp of employeeList; let i = index;">
          <td class="text-center v-align">{{i+1}}</td>
          <td  class="text-center">
              <img src="./assets/default-profile.png" style="width: 50px;border-radius: 50%;">
          </td>
          <td class="text-center v-align">{{emp.name}}</td>
          <td class="text-center v-align">{{emp.emp_category[0].categoryName | titlecase}}</td>
          <td class="text-center v-align">{{emp.status ? 'Active' : 'Not Active'}}</td>
          <td class="text-center v-align">
            <button type="button" (click)="openDialog('update', emp)" class="fa fa-pencil-square-o icon-btn" placement="bottom" ngbTooltip="Add"></button>
            <button type="button" (click)="removeConfirmDialog(emp)" class="fa fa-times icon-btn" placement="bottom" ngbTooltip="Add"></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="requestPending || (employeeList.length == 0 )">
        <tr>
          <td colspan="6" class="text-center" style="padding-top: 100px;">
            <i *ngIf="requestPending" class="fa fa-spin fa-circle-o-notch fa-4x" aria-hidden="true"></i>
            <label *ngIf="!requestPending && employeeList.length == 0" class="no-content">No employee created yet</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div *ngIf="!requestPending && (employeeList.length > 5 )" class="paginate-center">
  <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="120" [(page)]="page" [maxSize]="3" [rotate]="true"></ngb-pagination>
</div> -->