.chip {
    display: inline-block;
    padding: 0 15px;
    font-size: 13px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #c5bebe;
    padding-left: 0;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }
  .cs-badge{
    background: red;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
  }