<div class="container">
    <div class="row">
      <div class="col-md-4 custom-cards" style="background: yellow">
        <div class="text-center pt-10">
            <h3>Total Sale</h3>
            <h2>12550</h2>
        </div>
      </div>
      <div class="col-md-4 custom-cards" style="background: blue">
        <div class="text-center pt-10">
          <h3>Total Expenses</h3>
          <h2>6500</h2>
        </div>
      </div>
      <div class="col-md-4 custom-cards" style="background: green">
        <div class="text-center pt-10">
          <h3>Total Profit</h3>
          <h2>4550</h2>
        </div>
      </div>
    </div>
  </div>