/* You can add global styles to this file, and also import other style files */
.main-container {
    background: url(assets/background.jpg);
    background-repeat: no-repeat;
    min-height: 580px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
@media screen and (max-width: 767px) {
    .mt-15-sm {
        margin-top: 15px;
    }
}
.mr-zero{
    margin-right: 0 !important;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.pt-5{
    padding-top:  5px;
}
.pt-10{
    padding-top:  10px;
}
.pt-15{
    padding-top:  15px;
}
.pt-20{
    padding-top:  20px;
}
.ptb-50{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.form-center{
    margin: 0 auto;
    padding-top: 90px;
}
.error{
    color: red;
    margin-top: 10px;
}
.full-width{
    width: 100%
}
.pointer{
    cursor: pointer;
}
.bd-none{
    border: none !important;
}
.bd-top{
    border-top: none !important;
}
.bd-bottom{
    border-bottom: none !important;
}
.bd-left{
    border-left: none !important;
}
.bd-right{
    border-right: none !important;
}
.bd-tl{
    border-top: none !important;
    border-left: none !important;
}
.bd-tr{
    border-top: none !important;
    border-right: none !important;
}
.v-align{
    vertical-align: middle !important;
}
.fit-col-content{
    white-space: nowrap;
    width: 1%;
}
.paginate-center{
    display: flex !important;
    justify-content: center !important;
}
ngb-typeahead-window{
    // position: inherit !important;
    width: 94%;
}
.mg-center{
    margin: 0 auto;
}
.add-btn, .remove-btn{
    border: none;
    background: none;
    outline: none;
    font-size: 22px;
    cursor: pointer;
}
.input-err{
    border-color: red !important;
}
.err-label{
    margin-top: 5px;
    color: red;
    font-size: 14px;
}
.cs-not-allowed{
    cursor: not-allowed;
}
.no-content{
    font-size: 30px;
    font-weight: 900;
}
.app-btn{
    min-width: 100px;
}