/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";
@import '~ngx-toastr/toastr.css';
// @import '~ngx-toastr/toastr-bs4-alert';

.main-container {
    background: url(assets/background.jpg);
    background-repeat: no-repeat;
    min-height: 580px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
@media screen and (max-width: 767px) {
    .mt-15-sm {
        margin-top: 15px;
    }
}
.mr-zero{
    margin-right: 0 !important;
}
.mt-5, .mrt-5{
    margin-top: 5px;
}
.mt-10, .mrt-10{
    margin-top: 10px;
}
.mt-15, .mrt-15{
    margin-top: 15px;
}
.mt-20, .mrt-20{
    margin-top: 20px;
}
.mt-30, .mrt-30{
    margin-top: 30px !important;
}
.mt-40, .mrt-40{
    margin-top: 40px;
}
.mr-5, mrr-5{
    margin-right: 5px;
}
.mr-10, mrr-10{
    margin-right: 10px;
}
.mr-15, mrr-15{
    margin-right: 15px;
}
.mr-20, mrr-20{
    margin-right: 20px;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
.mrb-0{
    margin-bottom: 0;
}
.mrb-5{
    margin-bottom: 5px;
}
.mrb-10{
    margin-bottom: 10px;
}
.mrb-15{
    margin-bottom: 15px;
}
.mrb-20{
    margin-bottom: 20px;
}
.pt-5{
    padding-top:  5px;
}
.pt-10{
    padding-top:  10px;
}
.pt-15{
    padding-top:  15px;
}
.pt-20{
    padding-top:  20px;
}
.pd-r-5{
    padding-right:  5px;
}
.pd-r-10{
    padding-right:  10px;
}
.pd-r-15{
    padding-right:  15px;
}
.pd-r-20{
    padding-right:  20px;
}
.ptb-20{
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}
.form-center{
    margin: 0 auto;
    padding-top: 90px;
}
.error{
    color: red;
    margin-top: 10px;
}
.full-width{
    width: 100%
}
.pointer{
    cursor: pointer;
}
.bd-none{
    border: none !important;
}
.bd-top{
    border-top: none !important;
}
.bd-bottom{
    border-bottom: none !important;
}
.bd-left{
    border-left: none !important;
}
.bd-right{
    border-right: none !important;
}
.bd-tl{
    border-top: none !important;
    border-left: none !important;
}
.bd-tr{
    border-top: none !important;
    border-right: none !important;
}
.v-align{
    vertical-align: middle !important;
}
.fit-col-content{
    white-space: nowrap;
    width: 1%;
}
.paginate-center{
    display: flex !important;
    justify-content: center !important;
}
ngb-typeahead-window{
    // position: inherit !important;
    width: 94%;
}
.mg-center{
    margin: 0 auto;
}
.icon-btn{
    border: none;
    background: none;
    outline: none !important;
    font-size: 22px;
    cursor: pointer;
}
.input-err{
    border-color: red !important;
}
.rm-underline{
    text-decoration: none;
}
.rm-underline:hover{
    text-decoration: none;
}
.select-err{
    border: 1px solid red;
    border-radius: 4px;
}
.err-label{
    margin-top: 5px;
    color: red;
    font-size: 14px;
}
.cs-not-allowed{
    cursor: not-allowed;
}
.no-content{
    font-size: 30px;
    font-weight: 900;
}
.app-btn{
    min-width: 100px;
    font-size: 13px !important;
    cursor: pointer;
}
//::START--- Beautify ScrollBar
.scroll-bar::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll-bar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c5bebe;
}
.item-btn, .category-btn{
    width: 160px;
    font-size: 13px !important;
    margin-top: 5px;
    cursor: pointer;
}
.no-outline{
    outline: none;
}
.close:focus{
    outline: none;
}
.selected-item{
    background: red !important;
}

//Overide boostrap lg model :: start
@media only screen and (min-width: 992px) {
    .modal-lg {
      max-width: 992px !important;
    }
}
//Overide boostrap lg model :: End

//Overide boostrap dropdown :: start
.dropdown-menu{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
//Overide boostrap dropdown :: End